Repository SSlimShady/grab-some-apis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --check, isort --check-only, flake8

feat: github ci/cd
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/auto-label.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  .nvmrc
  README.md
  tools/switch-env.js
  tools/validate-env.js
Due: eslint --fix, prettier --write

feat: init nextjs and pnpm version update
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  apps/web/.gitignore
  apps/web/README.md
  apps/web/eslint.config.mjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/favicon.ico
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: dev script fix
  package.json
Due: prettier --write

fix: github ci fix
  .github/workflows/ci.yml
Due: prettier --write

fix: github ci 2
  .github/workflows/ci.yml
Due: prettier --write

fix: gitignore updated
  .gitignore
  apps/api/.gitignore
  apps/api/poetry.lock
  apps/web/.gitignore
  pyrightconfig.json
Due: prettier --write

feat: nasa apis starting with apod api and validation error handling and circuit breaker
  .lintstagedrc.json
  apps/api/.env.example
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/apis.py
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/app/api/routes/health.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/main.py
  apps/api/app/schemas/__init__.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/api_service.py
  apps/api/app/services/nasa_service.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
  package.json
Due: prettier --write, black --check, isort --check-only, flake8

feat: db and auth setup for future
  apps/api/app/api/dependencies/auth.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/models/database/__init__.py
  apps/api/app/repositories/__init__.py
  apps/api/app/repositories/base.py
Due: black --check, isort --check-only, flake8

feat: modernize NASA page with Zustand and TanStack Query
  apps/api/app/api/routes/v1/nasa.py
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/nasa/layout.tsx
  apps/web/src/app/nasa/loading.tsx
  apps/web/src/app/nasa/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/nasa-components.tsx
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/providers/query-provider.tsx
  apps/web/src/stores/nasa-store.ts
  apps/web/src/types/nasa.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, black --check, isort --check-only, flake8

build: fastapi version update
  apps/api/poetry.lock
  apps/api/pyproject.toml
Due: none

fix: config fix for env loading
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/health.py
  apps/api/app/core/config.py
Due: black --check, isort --check-only, flake8

refactor: base api class refactor
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/main.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
Due: black --check, isort --check-only, flake8

fix: minor changes and next config image url added
  apps/web/next.config.ts
  apps/web/src/app/nasa/page.tsx
Due: eslint --fix, prettier --write

refactor: removed today tab, now using constants file
  apps/web/next.config.ts
  apps/web/src/app/nasa/loading.tsx
  apps/web/src/app/nasa/page.tsx
  apps/web/src/components/ui/nasa-components.tsx
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/providers/query-provider.tsx
  apps/web/src/stores/nasa-store.ts
  eslint.config.js
Due: eslint --fix, prettier --write

refactor: image loading issues and improvements and sonner for toast
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/nasa-components.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: github ci fix (poetry command running while node)
  .github/workflows/ci.yml
  .npmrc
  apps/api/package.json
  package.json
Due: prettier --write

refactor: github ci flow improve
  .github/workflows/ci.yml
Due: prettier --write

feat: giphy integration without design
  apps/web/package.json
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/giphy/layout.tsx
  apps/web/src/app/giphy/page.tsx
  apps/web/src/app/giphy/search/page.tsx
  apps/web/src/app/giphy/translate/page.tsx
  apps/web/src/app/giphy/trending/page.tsx
  apps/web/src/app/page.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: switch between gif and stickers
  apps/web/src/app/giphy/layout.tsx
  apps/web/src/app/giphy/page.tsx
  apps/web/src/app/giphy/search/page.tsx
  apps/web/src/app/giphy/translate/page.tsx
  apps/web/src/app/giphy/trending/page.tsx
  apps/web/src/stores/giphy-store.ts
Due: eslint --fix, prettier --write

build: github actions updated
  .github/workflows/ci.yml
Due: prettier --write

fix: github ci fix
  .github/workflows/ci.yml
  apps/web/src/app/giphy/translate/page.tsx
Due: eslint --fix, prettier --write

fix: ci fixes
  .github/workflows/ci.yml
  apps/api/poetry.lock
  apps/api/pyproject.toml
  apps/web/tsconfig.json
Due: prettier --write

fix: ci fixes ctd
  .github/workflows/ci.yml
  apps/api/.flake8
  apps/api/app/api/dependencies/auth.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/core/security.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
Due: prettier --write, black --check, isort --check-only, flake8

fix: gitignore fix
  .gitignore
  apps/web/src/lib/api/giphy-api.ts
  apps/web/src/lib/api/index.ts
  apps/web/src/lib/api/nasa-api.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/constants.ts
  apps/web/src/lib/enums.ts
  apps/web/src/lib/env.ts
  apps/web/src/lib/index.ts
Due: eslint --fix, prettier --write

feat: rick and morty apis
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/config.py
  apps/api/app/schemas/nasa.py
  apps/api/app/schemas/rickandmorty.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
Due: black --check, isort --check-only, flake8

fix: github actions fix
  .github/workflows/ci.yml
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/poetry.lock
  apps/api/pyproject.toml
Due: prettier --write, black --check, isort --check-only, flake8

fix: line length issue
  apps/api/.flake8
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/pyproject.toml
Due: black --check, isort --check-only, flake8

fix: line length issues and formatting scripts
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/main.py
  apps/api/app/repositories/base.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
  apps/api/bandit-report.json
  apps/api/pyproject.toml
  apps/api/scripts/README.md
  apps/api/scripts/__init__.py
  apps/api/scripts/check_all.py
  apps/api/scripts/format_code.py
  apps/api/scripts/lint_code.py
  apps/api/scripts/typecheck.py
Due: prettier --write, black --check, isort --check-only, flake8

fix: formatting for github ci
  apps/api/bandit-report.json
Due: prettier --write

fix: formatting for ci
  apps/api/bandit-report.json
Due: prettier --write

fix: pre commit hook fix
  .lintstagedrc.json
  apps/api/app/api/routes/__init__.py
  apps/api/app/api/routes/circuit_breakers.py
  apps/api/app/api/routes/v1/__init__.py
  apps/api/app/api/routes/v1/nasa.py
  apps/api/app/api/routes/v1/rickandmorty.py
  apps/api/app/core/circuit_breaker.py
  apps/api/app/core/config.py
  apps/api/app/core/database.py
  apps/api/app/core/security.py
  apps/api/app/main.py
  apps/api/app/repositories/base.py
  apps/api/app/schemas/nasa.py
  apps/api/app/services/base.py
  apps/api/app/services/nasa_service.py
  apps/api/app/services/rickandmorty_service.py
  apps/api/bandit-report.json
  apps/api/scripts/check_all.py
  apps/api/scripts/format_code.py
  apps/api/scripts/lint_code.py
  apps/api/scripts/typecheck.py
  eslint.config.js
  package.json
  tools/format-python.cjs
Due: eslint --fix, prettier --write, black --check, isort --check-only, flake8

fix: python test update
  apps/api/tests/test_main.py
Due: black --check, isort --check-only, flake8

fix: added isort in ci
  apps/api/bandit-report.json
  apps/api/scripts/format_code.py
  apps/api/tests/test_main.py
Due: prettier --write, black --check, isort --check-only, flake8

feat: rick and morty api ui
  apps/api/app/services/base.py
  apps/web/next.config.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/rickandmorty/page.tsx
  apps/web/src/components/rickandmorty/character-search.tsx
  apps/web/src/hooks/use-debounced-value.ts
  apps/web/src/hooks/use-nasa-queries.ts
  apps/web/src/hooks/use-rickandmorty-queries.ts
  apps/web/src/lib/api/nasa-api.ts
  apps/web/src/lib/api/rickandmorty-api.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/enums.ts
  apps/web/src/lib/env.ts
  apps/web/src/stores/rickandmorty-store.ts
  apps/web/src/types/rickandmorty.ts
Due: eslint --fix, prettier --write, black --check, isort --check-only, flake8

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: package.json)) or (any of: *.{css,scss})
  black --check: any of: *.py
  isort --check-only: any of: *.py
  flake8: any of: *.py
